@media (max-width md - 1)
  
  .container
    width 300px
          
@media (min-width md) and (max-width lg - 1)

  .container
    width 640px  

@media (min-width lg)
  .container
      width 960px
      
    
