.copyright
  &__link
    display flex
    padding-left 10px
    padding-right 10px
    justify-content center
    align-items center
  &__icon
    width 27px
    height 33px
    fill: #d22856
    &:hover
      fill: #283645
    &:active
      opacity .3
    
  &__text
    margin 0
    display flex
    justify-content flex-start
    align-items center
    height 50px
    font-size 18px
    
    
@media (max-width md - 1)
  
  .copyright
    &__text
      font-size 14px