extends ../layout/main

block variables
  - var title = 'Pink'

block content
  include ../modules/information
  include ../modules/cta
  include ../modules/reviews
  include ../modules/price
  include ../modules/contacts