section.contacts
  
  div.contacts__header
    div.container

      p.contacts__title Остались вопросы? 
      p.contacts__title Свяжитесь с нами!
      ul.contacts__list
        li.contacts__item
          span.contacts__item-header Звоните:
          span.contacts__item-text 8 (800) 1000 900
        li.contacts__item
          span.contacts__item-header  Приезжайте в гости:
          span.contacts__item-text
            | Санкт-Петербург,
            br
            | Невский проспект, д. 20
        li.contacts__item
          span.contacts__item-header  Пишите:
          span.contacts__item-text hello@pinkapp.ru

    svg.contacts__polygon(xmlns='http://www.w3.org/2000/svg', viewbox='0 0 100 100', preserveaspectratio='none')
        polygon(fill='#fff', points='0,0 100,0 50,100')

  div#map
      