section.cta
  div.container

    div.cta__clock
      +icon('clock','cta__clock-icon')
      span.cta__clock-number 24

    div.cta__content
      h4.cta__title Эффект на 24 часа!
      p.cta__descr Британские ученые провели исследования и доказали, что положительный эффект от использования приложения длится целые сутки!
      a.cta__link(href="javascript:void(0);") Узнать больше об исследовании
