section.price#price

  svg.price__polygon(xmlns='http://www.w3.org/2000/svg', viewbox='0 0 100 100', preserveaspectratio='none')
    polygon(fill='#fff', points='0,0 0,75 100,0')

  div.container

    ul.price__list.owl-carousel
      li.price__item
        div.price__item-head
          span.price__item-name База
          span.price__item-amount 1,99 USD
        div.price__item-body
          span.price__item-yes Розовый фильтр
          span.price__item-no Смайлики
          span.price__item-no Комментарии
      li.price__item
        div.price__item-head
          span.price__item-best Хит
          span.price__item-name Стандарт
          span.price__item-amount 3,99 USD
        div.price__item-body
          span.price__item-yes Розовый фильтр
          span.price__item-yes Смайлики
          span.price__item-no Комментарии
      li.price__item
        div.price__item-head
          span.price__item-name Анлим
          span.price__item-amount 9,99 USD
        div.price__item-body
          span.price__item-yes Розовый фильтр
          span.price__item-yes Смайлики
          span.price__item-yes Комментарии