section.reviews#reviews
  div.container

    ul.reviews__list.owl-carousel
      li.reviews__item.item
        +icon('quote','reviews__item-icon')
        p.reviews__blockquote Приложение просто отпад. Фотографии преобразились прямо на глазах. Не надо лезль ни в какие фотошопы - одно нажание кнопки и сразу видиш результат.
        span.reviews__cite-name Бриллиант Марсоходов
        span.reviews__cite-descr 62 лет, санитар мегаполиса

      li.reviews__item.item
        +icon('quote','reviews__item-icon')
        p.reviews__blockquote Я был в восторге от этого приложения. Смайлик добавлял жизни ко всем фотографиям! Как мало надо для того чтобы изображение стало приятным и красивым.
        span.reviews__cite-name Егор Назаров
        span.reviews__cite-descr 30 лет, спелеолог

      li.reviews__item.item
        +icon('quote','reviews__item-icon')
        p.reviews__blockquote Это приложение перевернуло мой мир и позволило по-новому взглянуть на привычные серые вещи! А еще я познакомился со своей будущей женой в комментариях к выложенной фотографии!           
        span.reviews__cite-name Николай Петров
        span.reviews__cite-descr 25 лет, водитель трамвая